@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --ion-font-family: 'Gilroy', sans-serif;
}

body {
  font-family: var(--ion-font-family);
}

h1 {
  font-family: 'Gilroy', sans-serif;
  font-weight: 800;
}

.ion-invalid.ion-touched {
  --border-color: var(--ion-color-danger);
}
